# Copy this file to credentials.tfvars and fill in real values
# Then: terraform apply -var-file=dev.tfvars -var-file=credentials.tfvars
pm_api_token = "root@pam!terraform=YOUR_TOKEN_SECRET"
pm_endpoint  = "https://192.168.0.101:8006/"
